:root {
  font-size: 12px;
}
* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {text-align: center;margin: 1rem;}
.todo_item {
  display: flex;
  padding: 1em;
}
