:root {
  font-size: 12px;
}
* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  background-color: rgb(225, 225, 225);
  text-align: center;
}
.react-form > * {margin: 1.6rem 0}